Cython==0.29.21
torch
matplotlib
librosa
phonemizer==2.2.1
tensorboard
Unidecode==1.1.1
torchvision
tqdm
requests
pykakasi    
# numpy==1.18.5
# scipy==1.5.2
# torch== 1.6.0,
# torchvision==0.7.0
# matplotlib==3.3.1
# librosa==0.8.0